<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Page Not Found | WebSnap</title>
    <link rel="stylesheet" href="/css/error.css" />
  </head>

  <body>
    <!-- Main Container -->
    <section>
      <div>
        <h1>404</h1>

        <h2>Oops! Page Not Found</h2>

        <p>The page you are looking for does not exist or has been moved.</p>

        <a href="/">
          <button>Go Back Home</button>
        </a>
      </div>
    </section>
  </body>
</html>
